//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^chipsroofingllc.com/[nc]
RewriteRule ^(.*)$ http://www.chipsroofingllc.com//$1 [r=301,nc]

//301 Redirect Old File
Redirect 301 http://chipsroofingllc.com/index.html http://chipsroofingllc.com/
 